*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: #562EFF;
    width: 1440px;
    height: 94px;
}
.banner img{
    height: 51px;
    width: 40.42px;
    margin-left: 285px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-list li{
    display: inline;
    justify-content: space-between;
    align-items: center;
}